In [2]:
import pandas as pd 
from sqlalchemy import create_engine

In [3]:
summer_path = "datums/summer.csv"
winter_path = 'datums/winter.csv'
dictionary_path = 'datums/dictionary.csv'
baby_names_path = 'datums/NationalNames.csv'

In [37]:
#combine summer and winter into one table. add season column. 
summer_df = pd.read_csv(summer_path)
winter_df = pd.read_csv(winter_path)

summer_df['Season'] = "Summer"
winter_df['Season'] = "Winter"

olympic_df = summer_df.append(winter_df)

#filter by years in the baby names database
olympic_df = olympic_df[olympic_df['Year'] >= 1896]
olympic_df = olympic_df[olympic_df['Year'] <= 2015]

#get first names from the Athelete column
olympic_df['FirstName'] = olympic_df.Athlete.str.split(expand=True)[1]

olympic_df['Initial'] = olympic_df.FirstName.str.find(".")

olympic_df = olympic_df[olympic_df["Initial"] == -1]

olympic_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Season,FirstName,Initial
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer,Alfred,-1.0
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer,Otto,-1.0
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer,Dimitrios,-1.0
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer,Ioannis,-1.0
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer,Spiridon,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,Winter,Jenny,-1.0
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,Winter,Jamie,-1.0
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Winter,Dominique,-1.0
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Winter,Eva,-1.0
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,Winter,Chloe,-1.0

In [5]:
#trim data so that the years line up and whatnot 1910-2019

#Q: how long does the effect of winning a gold medal last as it relates to baby names. Preliminary thoughts: only one year of influence. ERGO the dataset will go to 2015

#drop names with only first initial. 

#create a smaller data set where we only look at names that also appear as first names of medal willing olympians

In [ ]:
#topline olymians with most gold medals

In [6]:
#gold medal winners and baby bump in baby names

In [7]:
#winter or summer olympics more influental?